#lerp-carousel {
  margin-top: 30px;  
}

.carousel-item {
  width: 100%;
  padding: 0 10px;
}

.carousel-image {
  width: 100%;
}

.carousel-image img {
  width: 100%;
  height: auto;
  border-radius: 25px;
  box-shadow: 0.5rem 0.5rem 1.25rem rgba(0, 0, 0, 0.2)
}

.lerp-carousel-track {
  transform: translateX(0);
  transition: 0.3s ease-out;
  cursor: grab;
  height: 450px;
  width: 100vh;
}

.carousel-text {
  text-align: center;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #e6e6e6
}

.dot-active {
  background-color: black !important;
}

@media only screen and (min-width: 768px) {

  .carousel-item-inner-container {
    max-width: 60%;
    margin: auto;
  }

  .lerp-carousel-track {
    height: 500px;
  }
}

@media only screen and (min-width: 1000px) {

  #lerp .inner-container .section-heading p {
    text-align: center;
    margin: auto;
  }

  .lerp-carousel-dots {
    display: none;
  }

  .dot {
    display: none;
  }
  #lerp {
    position: relative;
    
  }

  #lerp .inner-container {
    position: sticky;
    top: 0px; 
    left: 0;
    overflow: hidden;
  }
  #lerp-carousel {
    transition: 5;
    width: 1800px;

    transition: 1s ease-out
  }

  .lerp-carousel-track {
    /* height: unset; */
    
  }

  .carousel-item-inner-container {
    max-width: 75%;
  }

<<<<<<< HEAD
  .carousel-image img {
    max-width: 85%;
=======
  .carousel-image {
    max-width: 650px;
>>>>>>> beec3a0f933dfa4a1bc77ffce53e75a6a4fa2f76
    height: auto;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0.5rem 0.5rem 1.25rem rgba(0, 0, 0, 0.2)
  }
}

