.landing-section {
  height: 600px;
}

#homepage-landing {
  background-image: url('/assets/images/homepage.png');
  background-size: cover;
}



header {
  display: none;
}


section {
  /* padding: 20px; */
}

#lerp-carousel {
  overflow: hidden;
}

@media only screen and (min-width: 1000px) {

  .inner-container, #common-questions  h2{
    padding: 20px 30px;
  }

  header {
    display: block;
  }

  #lerp-carousel {
    overflow: unset;
  }


  section {
    padding: unset;
  }
}