* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

h2 {
  font-size: 1.2rem;
}

h1, h2, h3 {
  margin: 20px 0;
  letter-spacing: 3px;
}

.bg-gray {
  background-color: #f4f4f4;
}
p {
  margin: 15px 0;
  max-width: 1000px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  padding: 40px 0;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.text-upper {
  text-transform: uppercase;
}

.text-center, .text-center-section {
  text-align: center;
}

.accent-clr {
  color: #ba992f;
}


#navigation-links {
  padding: 40px 0;
}

#navigation-links ul {
  max-width: 800px;
  margin: auto;
  justify-content: space-around;
}

#navigation-links ul li {
  margin: 0 20px;
}

.pos-r {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.contact-block {
  right: 50px;
}

.section-mgb {
  margin-bottom: 50px;
}

.text-center-section {
  max-width: 850px;
  margin: auto;
}



.block-r {
  background-color: #FFF;
  height: 80px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45.5%;
}
.block-l {
  background-color: #FFF;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45.5%;
}


.triangle-l {
  width: 0;
  height: 0;
  bottom: 0;
  border-bottom: 80px solid #fff;
  border-right: 80px solid transparent;
  z-index: 4;
  left: 45.5%
}
.triangle-r {
  width: 0;
  height: 0;
  bottom: 0;
  right: 45.5%;
  border-bottom: 80px solid #fff;
  border-left: 80px solid transparent;
}

#tax-advisor-cta {
  background: #f4f4f4;
}

.flex-column {
  flex-direction: column;
}

#lerp-carousel {
  flex-direction:  row;
}

.btn {
  border: 1px solid #000;
  max-width: 135px;
  text-align: center;
  margin: auto;
  padding: 10px 5px;
}

#qualifications .inner-container {
 height: 500px;
 overflow: hidden;
}

#qualifications .inner-container {
  text-align: center;
}

.slider {
  height: 250px;
  cursor: grab;
}

.slider-track {
  transition: .5s ease-out;
}

.slider-img {
  position: absolute;
  width: 100%;
  top: -10px;
}

.odd-position {
  top: 10px;
}
.odd-odd-position {
  top: 30px;
}

.spears {
  top: -40px;
}

.padded-section {
  padding: 20px !important;
}

.mtt-img img {
  max-width: 600px;
  height: auto;
}

@media only screen and (min-width: 1000px) {
  .slider-img {
    position: relative;
    width: 10%;
  }

  .slider-img img {
    /* height: 100px; */
  }

  .slider-track {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .spears {
    display: none;
  }

  .pc {
    margin: auto;
  }

  
}