#investment-page {
  background-image: url('/assets/images/ny.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-landing, .ov-none {
  overflow: hidden;
}
.pl-top-section {
  min-height: 600px;
}

.ic3 {
  padding: 20px;
}

.bg-lg2 {
  /* background: rgb(242,242,240); */
  background: linear-gradient(90deg, rgba(242,242,242,1) 0%, rgba(235,234,234,1) 65%, rgba(227,223,223,1) 100%);
}

.section-heading h2 {
  font-size: 1.5rem;
}
.section-heading h3 {
  font-size: 1.1em;
  line-height: 1.6rem;
}

.pl-top-section .inner-container .section-heading {
  padding: 80px 30px;
  max-width: 800px;
  margin: auto;
}

.page-landing-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.page-landing-bottom .inner-container { 
  align-items:  center;
  justify-content: space-around;
  /* position: absolute;
  bottom: 0; */
}

.page-landing-card {
  position: absolute;
  width: 80%;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-landing-card__inner-container {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.hide-mob {
  display: none;
}

/* .hide-mob-large {
  display: none;
} */

.plc-card-btn {
  text-align: center;
}

.plb-item {
  max-width: 30%;
  text-align: center;
}

.plb-item img {
  height: auto;
  max-width: 70px;
  margin: auto;
}



.plb-item h4 {
  font-size: .8rem;
  margin-top: 10px;
}

.selected-content-items {
  height: 250px;
  overflow: hidden;
}

.sc-content-items-track {
  margin: 0px 0; 
  width: 100%;
  transition: all .4s ease-out
} 

.sc-item__inner-container {
  margin: auto;
  max-width: 80%;
}

.sc-item {
  width: 100%;
  position: absolute;
}

.sc-item-img {
  max-width:  95%;
  margin: auto;
  /* overflow: hidden; */
}

.sc-item-img img {
  border-radius: 50px;
  display: block;
  max-width: 95%;
  margin: auto;
  margin-bottom: 10px;
}

.topic {
  max-width: 95%;
  margin: auto;
  padding: 20px 7px;
  font-size: .8rem;
  border: #e6e6e6 1px solid;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
}

.topic a {
  padding: 5px 7px;
}

.topic-active a {
  color: white;
}

.topic-active {
  background-color: #4C6549;
  font-weight: bold;
  color: white;
}

.topic:last-child {
  margin-bottom: 40px;
}

.transition-section {
  transition: all .4s ease-out;
}

.transition-active {
  opacity: 0;
}

.trasition-back {
  opacity: 1;
}

.ov-none {
  padding: 20px;
}

@media only screen and (min-width: 500px) {
  .hide-mob {
    display: block;
  }

  .plc-text-content {
    text-align: center;
  }

  .page-landing-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
  }
  
  .page-landing-bottom .inner-container { 
    align-items:  center;
    justify-content: space-around;
    /* position: absolute;
    bottom: 0; */
  }
  
  .page-landing-card {
    position: absolute;
    width: 80%;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .plc-card-btn {
    border: 1.5px solid gray;
    border-radius: 10px;
    padding: 10px;
    font-size: .8rem;
  }
  
  .selected-content-items {
    height: 300px;
    overflow: hidden;
  }

  .sc-item-img {
    max-width:  75%;
    margin: auto;
    /* overflow: hidden; */
  }
  
  .sc-item-img img {
    border-radius: 50px;
    display: block;
    max-width: 95%;
    margin: auto;
    margin-bottom: 10px;
  }
  
  
}
@media only screen and (min-width: 768px) {
  .hide-mob {
    display: block;
  }

  .hide-mob-large {
    display: block;
  }

  .plc-img {
    /* max-width: 80px; */
    max-height: 400px;
    overflow: hidden;
  }

  .plc-img {
    width: 40%;
    background: url('/assets/images/iv-card.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
  }

  .plc-text-content {
    text-align: left;
    width:56%;
  }

  .page-landing-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
  }
  
  .page-landing-bottom .inner-container { 
    align-items:  center;
    justify-content: space-around;
    /* position: absolute;
    bottom: 0; */
  }
  
  .page-landing-card {
    position: absolute;
    max-width: 900px;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .page-landing-card__inner-container {
    justify-content: space-between;
  }

  .contain-me {
    display: flex;
    max-width: 1800px;
    margin: auto;
  }

  .desktop-topics {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* justify-content: center; */
    /* align-items: center; */
    width: 55%;
  }

  #common-questions {
    overflow: hidden;
  }
  #common-questions .inner-container {
    max-width: 45%;
    margin: 50px;
    overflow: hidden;
  }

  #common-questions {
    padding: 50px 0 50px 0;
  }

  .text-gray {
    color: #707070;
  }

  .topic {
    position: relative;
    font-size: .9rem;
    font-weight: bold;
    padding: 40px 20px;
    color: #707070;
    text-align: left;
    background: #f0ecec;
    border-radius: 100px 0 0 100px;
    right: -20px;
    width: 110%;
    margin: 30px 0;
    box-shadow: .5rem .5rem 1.25rem rgba(0, 0, 0, 0.2);
    transition: all .5s ease-out;
  }

  /* .topic a {
    margin-left: 30px;
  } */

  .topic-active {
    color: white;
    background-color: #4C6549;
    box-shadow: .5rem .5rem 1.25rem rgba(0, 0, 0, 0.2);
  }

  .topic:hover {
    cursor: pointer;
    background-color: #4C6549;
    color:#fff;
  }

  .topic:hover > a {
    color: #fff;
  }

  .transition-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .sc-content-items-track {
    display: flex;
    justify-content: baseline;
    align-items: center;
  }

  .sc-item {
    position: unset;
    width: 45%;
  }

  .selected-content-section {
    width: 100%;
    padding: 20px 40px 20px 20px;
  }

  .tab-d-none {
    display: none;
  }
  
  
.sc-item-img {
  max-width:  100%;
  margin: auto;
  margin-bottom: 20px;
}

.sc-item-img img {
  display: block;
  max-width: 100%;
  margin: auto;
}

.plb-item {
  width: 20%;
}
}


@media only screen and (min-width: 1000px) {
  .plc-img {
    width: 35%;
    height: 340px;
    border-radius: 40px;
  }

  .pl-top-section {
    min-height: 750px;
  }
  

  .plc-text-content {
    width:60%;
  }

  .page-landing-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
  }
  
  .page-landing-bottom .inner-container { 
    position: absolute;
    bottom: 50px;
  }

  .page-landing-card {
    position: absolute;
    max-width: 900px;
    z-index: 10;
    top: 60%;
  }

  .page-landing-card__inner-container {
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
    border-radius: 50px;
  }

  .plb-item h4 {
    font-size: 1rem;
    margin-top: 10px;
  }
 
  #common-questions .section-heading {
    /* max-width: 1400px; */
    /* margin: auto; */
    text-align: left;
  }

  .tab-d-none {
    display: unset;
  }
  
  
}

@media only screen and (min-width: 1200px) {
  .topic {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 1800px) {
  #common-questions .section-heading {
    max-width: 1800px;
    margin: auto;
    text-align: left;
  }

  .topic {
    border-radius: 100px
  }
}
