#our-team {
  height: 800px;
}

.mtt-slider-track {
  height: 350px;
  transition: .3s all ease-out
}

.meet-the-team-slider {
  overflow: hidden;
  height: 350px;
}

.mtt-item {
  position: absolute;
  width: 100vw;
}

 .mtt-img {
    background-color: #cfd7df;
    max-width: 90vw;
    height: auto;
    display: flex;
    margin: auto;
    border-radius: 20px;
  }
  
  .mtt-img img {
    max-width: 300px;
    height: auto;
    margin: auto;
  }

  .mtt-carousel-dots {
    margin-top: 20px;
  }

  .ic2 {
    max-width: 1400px;
    margin: auto;
  }


@media only screen and (min-width: 768px) {

  #our-team {
    height: unset;
  }
  

  .mtt-carousel-dots {
    display: none;
  }
  .mtt-slider-track {
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    max-width: 1200px;
    justify-content: space-between;
    margin: auto;
  }

  .meet-the-team-slider {
    height: 400px;
    /* padding: 0 20px; */
  }

  .mtt-slider-track {
    /* width: 100vh; */
  }

  .mtt-img {
    height: 269px;
  }

  .mtt-img img {
    max-width: 350px;
    height: auto;
  } 
  
  .mtt-item {
    position: unset;
    width: 30%
  }

  .mtt-item:hover {
    cursor: pointer;
  }
  
 

}

@media only screen and (min-width: 1000px) {
  .mtt-carousel-dots {
    display: none;
  }
  .mtt-slider-track {
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 1320px;
    justify-content: space-between;
    margin: auto;
  }

  .meet-the-team-slider {
    height: 400px;
    /* padding: 0 20px; */
  }

  .mtt-img {
    height: 269px;
    width: 100%;
    border-radius: 10px;
  }

  .mtt-img img {
    max-width: 650px;
    height: auto;
  } 
  
  .mtt-item {
    position: unset;
    width: 30%
  }
}
