.mtt-slider-track {
  height: 400px;
  transition: .3s all ease-out
}

.meet-the-team-slider {
  overflow: hidden;
  /* padding: 0 20px; */
}

.mtt-item {
  position: absolute;
  width: 100vw;
}

 .mtt-img {
    background-color: #cfd7df;
    max-width: 90vw;
    height: auto;
    display: flex;
    margin: auto;
    border-radius: 20px;
  }
  
  .mtt-img img {
    max-width: 300px;
    height: auto;
  }


@media only screen and (min-width: 1000px) {
  .mtt-slider-track {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .meet-the-team-slider {
    height: 600px;
    /* padding: 0 20px; */
  }

  .mtt-img {
    height: 400px;
  }

  .mtt-img img {
    max-width: 500px;
    height: auto;
  }
  
  .mtt-item {
    position: unset;
    width: 25%;
  }
  
 

}
