
.pp-s-item-img {
  width: 100%;
  padding: 10px;
}

.pp-slide-track {
  transform: translateX(0);
  transition: 0.3s ease-out;
  cursor: grab;
  height: 260px;
  /* width: 100vw; */
}

#popular-pages {

}

#popular-pages .inner-container {
  overflow: hidden;
  width: 100%;
  height: 400px;
  padding: 20px 0;
}


.pp-slide-item {
  position: absolute;
  width: 100%;
}
.pp-s-item-img img {
max-width: 80%;
height: auto;
/* background-color: #f4f4f4; */
/* border-radius: 25px; */
  /* box-shadow: 0.5rem 0.5rem 1.25rem rgba(0, 0, 0, 0.2) */
}

#popular-pages .inner-container .text-section {
  text-align: center;
}
.p-slide-text {
  text-align: center;
}

.pp-slide-text {
  
} 

.whole-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

@media only screen and (min-width: 768px) {
  .pp-slide-track {
    display: flex;
    max-width: 1320px;
    margin: auto;
  }

  .pp-slide-item {
    position: relative;
    transition: all .5s ease-out;
  }



  .pp-s-item-img img {
    max-width: 100%;
    height: auto;
  }
  
  .pp-s-item-img {

    transition: all .5s ease-out;
  }

  #popular-pages .inner-container {
    overflow: hidden;
    width: 100%;
    height: 400px;
    padding: 30px 30px;
    height: 350px;
  }

  .pp-slide-text {
    font-size: .7rem;
  }
}

@media only screen and (min-width: 1000px) {

  #popular-pages .inner-container {
    overflow: hidden;
    width: 100%;
    height: 400px;
    padding: 30px 30px;
    height: 400px;
  }

  .pp-slide-text {
    font-size: .7rem;
  }

  .whole-link:hover + .pp-s-item-img {
    transform: scale(1.1);
    cursor: pointer;
  }
}